
<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <p>Pellentesque dui, non felis. Maecenas male </p>
    <form action="#" method="post">
        <input type="email" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
    </form>

</div>